@import "styles/mixins";

.inputs_container{
  width: 320px;
  @media (max-width: 1005px) {
    width: 99%;
  }
}

.polyhedronContainer{
  @media (min-width: 1005px) {
    margin-left: 30px;
  }
  @media (max-width: 1005px) {
    margin-top: 30px;
  }
  border-radius: 6px;

}

.ctn {
  margin: 60px 0;
  @include content;

  .user {
    display: flex;
    gap: 16px;
    margin-left: 32px;
    margin-bottom: 32px;
    align-items: center;

    .user__avatar {
      display: inline-flex;  
      flex-shrink: 0;
      align-items: center;
      justify-content: center;  
      width: 86px;
      height: 86px;
      border-radius: 50%;
      border: 2px solid #aaa;

      .icon {
        fill: #aaa;
        width: 64px;
        height: 64px;
      }
    }

    .user__main_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .user__fullname {
        display: inline-block;
        font-size: 40px;
        @media screen and (max-width: 500px){
            font-size: 25px;
        }
        font-weight: 700;
      }

      .user__specs, .user__teams {
        font-weight: bold;
      }

      .user__spec, .user__team {
        list-style: inside;
      }

      .user__spec_grade {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }    

  .content {
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    border: solid;
    border-color: black;

    &.loading {
      background: transparent;
    }

    .form {
      margin: 32px;
      @media (max-width: 425px) {
        margin: 20px;
      }
      @media (min-width: 1005px) {
        display: -webkit-inline-box;
      }
      .btn {
        width: 150px;
        height: 45px;
        margin-top: 45px;
        background-color: var(--main-brand-color);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--light-shades);
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }

      .warning {
        color: var(--main-brand-color);
      }
    }

    .safetyForm {
      width: 320px;
      margin: 32px;
      .btn {
        width: 150px;
        height: 45px;
        margin-top: 45px;
        background-color: var(--main-brand-color);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--light-shades);
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }

      .warning {
        color: var(--main-brand-color);
      }
    }

    .menu {
      width: 240px;
      margin-left: auto;
      border-left: 1px var(--main-brand-color);

      .item {
        position: relative;
        width: 100%;
        font-size: 16px;
        color: var(--light-shades);
        padding: 12px 32px;
        @media screen and (max-width: 450px) {
            padding: 12px 8px;
        }
        cursor: pointer;
        overflow: hidden;

        &:not(:last-of-type) {
            border-bottom: 1px solid #262626;
        }

        &:hover {
            background: #262626;
        }

        &.selected {
          background: #262626;

          &::before {
            position: absolute;
            content: '';
            width: 4px;
            height: 200%;
            background: var(--main-brand-color);
            top: -50%;
            left: 0;
            z-index: 1;
          }
        }
      }
    }
  }
}