@import "reset";
@import "mixins";
@import "../public/font/stylesheet.scss";

:root {
    --light-text: #ffffff;
    --light-text-yellow: #fff4ad;
    --light-text-primary: rgb(84, 88, 171);
    --light-text-black: #000000;

    --dark-header-theme: rgba(145, 144, 208, 0.5);
    --light-header-theme: rgba(206, 206, 253, 0.7);

    --light-background-primary2: linear-gradient(to right top, rgb(84, 88, 171, 0.8) 2%, rgba(98, 80, 162, 0.4), rgba(135, 60, 255, 0.4)),
    rgb(255, 255, 255, 1);

    --light-background-primary: linear-gradient(to right, rgb(84, 88, 171, 0.8) 2%, rgba(135, 60, 255, 0.4), rgb(111, 121, 189, 0.9)),
    rgb(255, 255, 255, 1);
    --dark-background-primary: linear-gradient(to right, rgb(84, 88, 171, 0.8) 2%, rgba(135, 60, 255, 0.4), rgb(111, 121, 189, 0.9)),
    rgba(73, 82, 140, 0.8);
    --light-background: #ffffff;

    --dark-button-white: white;
    --light-button-violet: rgb(84, 88, 171);

    --primary: linear-gradient(to top right, rgb(58, 61, 132, 1) , rgba(148, 92, 204, 0.9), rgb(255, 208, 182, 0.9));

    --dark-illumination: radial-gradient( rgb(255, 242, 189, 0.5) 10%,rgb(0,0,0,0) 70% );

    --dark-card-pink: rgba(255, 223, 232, 0.5);
    --light-card-grey: rgb(255, 255, 255, 0.0);
    --light-card-blue: rgb(255, 255, 255, 0.2);

    --light-shades: #ffffff;
    --light-accent: #F6BFC6;
    --main-brand-color: #DB001B;
    --dark-accent: #D9D9D9;
    --dark-shades: #000000;
    --light-accent-2: #f8dfe3;
    --fail-color: #DB001B;
    --fail-light-color: #ffccd1;
    --success-color: #4aaf51;
    --success-light-color: #c8e7c8;
    --active-color: #4a79af;
    --active-light-color: #c8d7e7;
    --wait-color: #af724a;
    --wait-light-color: #e7d9c8;


    --content-width: #{$xlContent};

    --somePoints: '......................................................................................................................................................................................................................................................................................................................................................................................................................................';
    @include lg {
        --content-width: #{$lgContent};
        --swiper-navigation-size: 26px !important;
    }
    @include md {
        --content-width: #{$mdContent};
    }
    @include sm {
        --content-width: #{$smContent};
    }

    --navigation-opacity: 1;
}

html {
    scroll-behavior: auto;
}

body {
    color: var(--dark-shades);
    font-family:  Roboto, Arial, "Segoe UI", Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;


    *::selection {
      background-color: var(--main-brand-color);
      color: var(--light-shades);
      //filter: none;
    }

    *::-webkit-scrollbar {
        width: 13px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background: var(--main-brand-color);
        border-radius: 6px;
        border: 3px solid transparent;
        background-clip: content-box;
    }
}

.content {
    @include content;
}

.wrapper {
    width: 100%;
}

.InovuaReactDataGrid__row-hover-target:hover {
    background: var(--light-accent) !important;
    color: var(--dark-shades) !important;
}

.InovuaReactDataGrid__row--active {
    border-color: var(--main-brand-color) !important;
    color: var(--dark-shades) !important;
}

.InovuaReactDataGrid__row-active-borders {
    border: none !important;
    outline: none !important;
}