{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
    <a style="text-decoration: none;" id="logo" href="#" target="_blank">
        <div style="display: flex; align-items: center;">
            <h1 id="title-h1" style="
                /*color: #3b4151;*/
                color: #fad2b0;
                font-family: monospace;
                border-right: solid;"
            >

            </h1>
            <img style="height: 4rem;" src="https://www.linkpicture.com/q/logo-wM_97l9-Q-transformed.png"
                 alt="EduGameTheory">
        </div>
    </a>
{% endblock %}

{% block swagger_initialization %}
    <script type="text/javascript">
        window.onload = () => {
            loadSwaggerUI({
                // Отображение моделей(схем)
                defaultModelsExpandDepth: -1,
                // Линковка моделей(схем)
                deepLinking: true,
                // Раскрытость тегов, параметры: ["list", "full", "none"]
                docExpansion: "none",
                // Поиск по тегам
                filter: '',
            });

            typeWriter()
        }

        // typing animation заголовка :D
        let title = document.getElementById('title-h1');
        let i = 0;
        let txt = "Game Theory API"

        function typeWriter() {
            if (i < txt.length) {
                title.innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, 100);
            }
        }

    </script>
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700">
    {{ parent() }}

{#  Моргающий курсор у текста  #}
    <style>
        #title-h1 {
            -webkit-animation: title-h1 3.5s linear infinite;
            animation: title-h1 3.5s linear infinite;
        }
        @-webkit-keyframes title-h1 {
            0% { border-right-color: rgba(243, 194, 132, 1); }
            50% { border-right-color: rgba(243, 194, 132, 0); }
            100% { border-right-color: rgba(243, 194, 132, 1); }
        }
        @keyframes title-h1 {
            0% { border-right-color: rgba(243, 194, 132, 1); }
            50% { border-right-color: rgba(243, 194, 132, 0); }
            100% { border-right-color: rgba(243, 194, 132, 1); }
        }
    </style>

    <style type="text/css" rel="stylesheet">
        #formats {
            font-family: Open Sans,sans-serif;
        }

        .swagger-ui .opblock-tag,
        .swagger-ui .opblock .opblock-section-header label,
        .swagger-ui .opblock .opblock-section-header h4,
        .swagger-ui .opblock .opblock-summary-method,
        .swagger-ui .tab li,
        .swagger-ui .scheme-container .schemes>label,
        .swagger-ui .loading-container .loading:after,
        .swagger-ui .btn,
        .swagger-ui .btn.cancel,
        .swagger-ui select,
        .swagger-ui label,
        .swagger-ui .dialog-ux .modal-ux-content h4,
        .swagger-ui .dialog-ux .modal-ux-header h3,
        .swagger-ui section.models h4,
        .swagger-ui section.models h5,
        .swagger-ui .model-title,
        .swagger-ui .parameter__name,
        .swagger-ui .topbar a,
        .swagger-ui .topbar .download-url-wrapper .download-url-button,
        .swagger-ui .info .title small pre,
        .swagger-ui .scopes h2,
        .swagger-ui .errors-wrapper hgroup h4 {
            font-family: Open Sans,sans-serif!important;
        }
    </style>

{% endblock stylesheets %}
