@import "styles/mixins";




.backgroundStyle{
  overflow-x: hidden;
  background: var(--light-background-primary2);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 0 !important;

}

.ctn {
  position: relative;
  z-index: 5;
  padding-top: 124px;
  justify-items: center;
  @include content;

}

.background{
  padding: 20px 2vw;
  background: rgba(220, 225, 255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  justify-content: space-between;
}

.name{
  margin-bottom: 20px !important;
}
.title{
  margin-bottom: 20px !important;
  color: white;
  font-size: 40px;
  font-weight: bold;
}


.propsBack{
  justify-content: start!important;
  color: white;
  font-size: 28px;
  align-items: center!important;
  padding: 10px!important;

  @media screen and (max-width: 1000px) {
    font-size: 24px;
  }
  @media screen and (max-width: 710px) {
    font-size: 28px;
  }
}

.propsButton{
  margin: 6px 20px 0 20px;
  width: 40px;
  @media screen and (max-width: 1000px) {
    margin: 6px 10px 0 10px;
    width: 34px;
  }
  @media screen and (max-width: 710px) {
    margin: 6px 20px 0 20px;
    width: 40px;
  }

}

.propsText{
  -webkit-text-fill-color: white;
  color: white!important;
  width: 40px;
}

.matrixBack{
  background: white;
  border-radius: 6px;
  padding: 20px;
  height: 100%;
  margin-bottom: 20px;
}

.propsRow{
  height: 100%;
  border-radius: 4px;
  border-style: dashed;
  border-width: 2px;
  border-color: rgb(164, 161, 255, 0.6);
  margin: 10px -30px 10px 0px;
  padding: 10px;
}


.matrixInput{
  margin-right:10px ;
  width: 100px;
  height: 100%;
}