
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.swp
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
composer.phar
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> temporary files ###
*~
/.composer.cache
###< temporary files ###

###> images for achievement ###
/public/uploads/achievement/*
###> images for achievement ###
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
