
.back{
  justify-content: right !important;
  background: var(--primary);
  max-width: 900px !important;
  min-width: 600px !important;
  padding: 10px !important;

  @media screen and (max-width: 412px) {
    min-width: 300px !important;
  }
}
.title{
  padding: 0;
  margin: 0;
  color: var(--light-text);
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  transform: translateY(-20px);
}
.contents{
  margin: 20px auto 10px auto !important;
  padding: 0 !important;
  justify-content: center;
}

.input{
  width: 300px !important;
  margin: 10px 0 !important;
}
.botton {
  margin-top: 20px;
  color: var(--light-text-primary);
  background: var(--dark-button-white);
  padding: 10px 60px;
  font-size: 40px;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 100px;

  @media screen and (max-width: 960px) {
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 60px;
  }
  @media screen and (max-width: 412px) {
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 60px;
  }
}

.bottonGo {
  background: var(--light-button-violet) !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  color: var(--light-text) !important;
  padding: 10px 0 !important;
  width: 300px !important;
  font-size: 20px!important;
  border-radius: 10px!important;
  font-weight: bold!important;
}

.closeSVG{
  padding: 0;
  margin: 0;
  width: 35px;

  @media screen and (max-width: 412px){
    width: 25px;
    transform: translateX(-10px);
  }
}

.authSVG{
  margin-right: 10px;
  width: 35px;
}