.ctn {
    -webkit-appearance: none;
    height: 21px;
    width: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--main-brand-color);
    border-radius: 8px;
    background: var(--light-shades);
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 7px;
      height: 10px;
      border: 3px solid var(--light-shades);
      border-top: 0;
      border-left: 0;
      left: 6px;
      top: 3px;
      transform: rotate(43deg);
      transition: transform  0.3s ease, opacity 0.2s;
    }

    &:checked {
      background: var(--main-brand-color);
    }
  }