.backgroundMatrix {
  display: block;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;

  caption {
    text-align: left
  }
}

.col {
  border: 1px solid #8880a4;
  padding: 14px 20px !important;
}